.BuilderBody {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;

  .cvBody {
    width: 595px;
    height: 842px;
    background-color: #fff;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.20);

    .cvLeftContent {
      flex: 0 0 39%;
      display: flex;
      flex-flow: column;

      .cvLeftDraggable {
        background-color: $primary-gray;
        padding: 10px;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden;
      }
    }

    .cvRightContent {
      flex: 0 0 61%;
      display: flex;
      flex-flow: column;

      .cvRightDraggable {
        padding: 10px;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}